
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}

header {
  background: #333;
  color: #fff;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}
form input[type="number"],
form input[type="text"] {
  width: calc(100% - 20px);
  padding: 4px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
body h2 {
  margin-left: 240px;
}
form button[type="submit"] {
  padding: 10px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s;
}

form button[type="submit"]:hover {
  background-color: #555;
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.input-details {
  width: 400px;
  margin-left: -50px;
  margin-right: 70px;
}

.display-details {
  flex: 1;
  margin-left: -50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

table th {
  background-color: #f2f2f2;
}

.delete-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

.delete-button:hover {
  background-color: #c9302c;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .display-details {
    width: 100%;
    margin-left: 0;
  }
}
